<ion-view title="Checkout" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <div id="checkout-markdown3" style="color:#000000;text-align:center;">
                        <p>Your order was successfully placed!</p>
                    </div>
                    <a ui-sref="tabsController.macySHome" id="checkout-button10" style="color:#CC0000;" class="button button-stable  button-block">Thank You</a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>