<ion-view title="Deals" id="page4">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="list card">
            <div class="item item-divider">Bounceback Online</div>
            <div class="item item-body">
                <div id="deals-markdown5" style="color:#CC0000;text-align:center;">
                    <p>XV45l2</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Bounceback Online</div>
            <div class="item item-body">
                <div id="deals-markdown6" style="color:#CC0000;text-align:center;">
                    <p>UT96N4</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Jewelry Sale</div>
            <div class="item item-body">
                <div id="deals-markdown7" style="color:#CC0000;text-align:center;">
                    <p>JEWEL</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Spring Sale</div>
            <div class="item item-body">
                <div id="deals-markdown8" style="color:#CC0000;text-align:center;">
                    <p>BLOOM</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Spring Sale</div>
            <div class="item item-body">
                <div id="deals-markdown9" style="color:#CC0000;text-align:center;">
                    <p>BLOOM25</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Spring Sale</div>
            <div class="item item-body">
                <div id="deals-markdown10" style="color:#CC0000;text-align:center;">
                    <p>BLOOM1</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>