<ion-view title="Women" id="page5">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/hviAuqZ9RXCcrrULgaba_tops.png" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/KnqHpr3hRweilsM0bAiw_bottoms.png" width="100%" height="auto">
        </div>
        <a style="display:inline-block;" ui-sref="tabsController.dresses">
            <div style="text-align:center;">
                <img src="img/uLedofjRR7madIXQ2NPY_dresses.png" width="100%" height="auto">
            </div>
        </a>
        <div style="text-align:center;">
            <img src="img/cV2wlBVpQmeYwFdGhWCu_shoes.png" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/3X6hxIyrTmSSpsoThQHv_accessories.png" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/2Mxl68UTGiT0THyYPufk_beauty.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>